<!--Toolbar-->
<div>
  <mat-toolbar class="app-header" color="primary">
    <div>ConnectAPIBuddy</div>
    <span class="nav-tool-items">
      <a mat-button [routerLink]="['/login']" routerLinkActive="active"
        >Log in</a
      >
      <a
        mat-button
        mat-raised-button
        [routerLink]="['/register']"
        routerLinkActive="active"
        >Register</a
      >
    </span>
  </mat-toolbar>
</div>

<!--Image-->
<div class="image-wrapper"></div>

<!--Card-->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" class="login-form">
      <mat-card-content>
        <mat-form-field class="login-full-width">
          <input
            type="text"
            formControlName="email"
            matInput
            placeholder="Email"
          />
        </mat-form-field>
        <div
          class="error"
          *ngIf="
            loginForm.get('email').hasError('required') &&
            loginForm.get('email').touched
          "
        >
          *username is required
        </div>

        <mat-form-field class="login-full-width">
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Password"
          />
        </mat-form-field>
        <div
          class="error"
          *ngIf="
            loginForm.get('password').hasError('required') &&
            loginForm.get('password').touched
          "
        >
          *password is required
        </div>
      </mat-card-content>
      <button
        mat-stroked-button
        class="login-btn"
        color="accent"
        (click)="LocalUserLogin()"
      >
        Log in
      </button>
      <div>
        <button type="button" class="btn btn-link px-0">
          Forgot password?
        </button>
      </div>
    </form>
    <hr style="border-top: 1px solid #eee;" />
    <div>
      <div>
        <button
          (click)="SocialUserSignIn('facebook')"
          class="loginBtn loginBtn--facebook"
        >
          Login with Facebook
        </button>
      </div>
      <div>
        <button
          (click)="SocialUserSignIn('google')"
          class="loginBtn loginBtn--google"
        >
          Login with Google
        </button>
      </div>
    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>
