.mat-select {
  font-family: "Muli", Arial, sans-serif;
  font-size: 17px;
}
.mat-select-trigger {
  height: 1.125em;
}
.mat-select-value {
  color: var(--mat-select-value-color,#f87060);
}
.mat-select-placeholder {
  color: var(--placeholder-color,#f6faff);
}
.mat-select-disabled .mat-select-value {
  color: var(--disabled-color,#f6faff);
}
.mat-select-arrow {
  color: var(--mat-select-arrow,#f6faff);
}
.mat-select-panel {
  background: var(--mat-select-panel-bg,#012251);
}
.mat-select-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: rgba(0, 0, 0, 0.12);
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: var(--mat-select-arrow-after,#0B68F1);
}
.mat-form-field.mat-focused.mat-accent .mat-select-arrow {
  color: #f87060;
}
.mat-form-field.mat-focused.mat-warn .mat-select-arrow {
  color: #f87060;
}
.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
  color: #f87060;
}
.mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
  color: #f6faff(0, 0, 0, 0.38);
}
.mat-option {
  font-family: "Muli", Arial, sans-serif;
  font-size: 17px;
}
.mat-option:focus:not(.mat-option-disabled),
.mat-option:hover:not(.mat-option-disabled) {
  background: var(--mat-select-item-hover-bg,#424242);
  color: var(--mat-select-item-hover-color,#f87060);
}

.mat-select,
.method-wrapper,
.mat-option {
  color: var(--mat-select-item-color,#2185d0);
  border: black;
}

.mat-option.mat-active {
  background: var(--mat-select-item-active-bg,#0000001f);
  color: #2185d0;
}
.app-body .mat-form-field-label {
  color: var(--placeholder-color,#f6faff) !important ;
}
.app-body .mat-form-field-ripple {
  background-color: var(--input-border-color,#f87060) !important;
}

.app-body .mat-form-field-underline{
  background-color: var(--input-border-color,#F6Faff) !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--mat-select-item-marked,#c2185b);
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .5375em 0;
}
