/* label style */

.mat-tab-label {
  min-width: 10px !important;
  font-family: "Muli", Arial, sans-serif;
  font-size: 17px;
  color: var(--mat-tab-label-color,#f6faff);
  font-weight: 500;
  opacity: 1 !important;
}

/* focus style */

/* .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background: white;
} */

/* ink bar style */

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--mat-tab-ink-bar,rgb(33, 133, 208)); /*rgba(149, 165, 166, 0.3);*/
  height: 38px;
  border-radius: 100px;
  margin-bottom: 5px;
  outline: none !important;
  border: 1px solid var(--btn-border-color,#fff);
  opacity: 0.4;
}

.mat-tab-group {
  outline: none !important;
  border: 1px solid var(--input-border-color,#fff);
}

.mat-form-field.mat-primary .mat-select {
  color: var(--input-border-color,#fff);
}

.mat-tab-body.mat-tab-body-active {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  flex-grow: 1;
}

.mat-tab-body-content {
  height: 100%;
  overflow: hidden;
}

.mat-tab-body-wrapper {
  color: var(--input-border-color,#fff);
}

.mat-tab-label-active {
  color: var(--input-border-color,#fff);
  opacity: 1 !important;
}
